<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>회원가입!</title>
	</head>
	<body>
		<form method="post" action="">
			<dl>
				<dt th:text="${title}">아이디</dt>
				<dd>
					<input type="text" name="userId">
				</dd>
			</dl>
			<dl>
				<dt>비밀번호</dt>
				<dd>
					<input type="password" name="userPw">
				</dd>
			</dl>
			<dl>
				<dt>비밀번호 확인</dt>
				<dd>
					<input type="password" name="userPwRe">
				</dd>				
			</dl>
			<dl>
				<dt>회원명</dt>
				<dd>
					<input type="text" name="userNm">
				</dd>
			</dl>
			<dl>
				<dt>이메일</dt>
				<dd>
					<input type="email" name="email">
				</dd>
			</dl>
			<dl>
				<dt>휴대전화번호</dt>
				<dd>
					<input type="text" name="mobile">
				</dd>
			</dl>
			<div>
				<input type="checkbox" name="agree" value="true" id="agree">
				<label for="agree">약관에 동의합니다.</label>
			</div>
			<button type="submit">가입하기</button>
		</form>
	</body>
</html>