<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>연습!</title>
	</head>
	<body>
		<table border='1'>
			<thead>
				<tr>
					<th>순번</th>
					<th>회원아이디</th>
					<th>회원명</th>
					<th>이메일</th>
					<th>휴대전화번호</th>
					<th>가입일시</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="member, status : ${members}" th:object="${member}">
					<td th:text="${status.count}"></td>
					<td th:text="*{userId}"></td>
					<td th:text="*{userNm}"></td>
					<td th:text="*{email}"></td>
					<td th:text="*{mobile}"></td>
					<td th:text="*{#temporals.format(regDt, 'yy.MM.dd HH:mm')}"></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>