<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main}">
	
	<th:block layout:fragment="addCss">
	<link rel="stylesheet" type="text/css" th:href="@{/css/main/test.css}">
	</th:block>
	
	<th:block layout:fragment="addScript">
	<script th:src="@{/js/main/test.js}"></script>
	</th:block>
	
	<main layout:fragment="content">
		<th:block th:if="${session.member == null}">
			<a th:href="@{/user/login}">로그인</a>
			<a th:href="@{/user/join}">회원가입</a>
		</th:block>
		<th:block th:unless="${session.member == null}">
			<th:block th:text="${#messages.msg('loginMessage',session.member.userNm, session.member.userId)}"></th:block>
			<a th:href="@{/user/logout}">로그아웃</a>
		</th:block>
	</main>
</html>